body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1,h2 {
    color: #333;
}
.tarea {
    margin: 20px 0;
    padding: 20px;
}
.tarea1 {
    background-color: #ea00ff; 
}
.tarea2 {
    background-image: url(practica1/img/lg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90px;
    color: #fff;
}
.tarea3 {
    border-top: 4px solid rgb(10, 3, 9);
    border-right: 4px dotted rgb(255, 3, 3);
    border-bottom: 4px double rgb(211, 106, 9);
    border-left: 4px dashed rgb(27, 219, 2);
}
.tarea4 {
    border: 2px solid #ff9900;
    border-radius: 20px;
}